[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[42D09D537F2DD6DA]
row=4
col=0

[EA7C-6298]
row=5
col=0

[6E96CE9C40F41314]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/atheer]
row=3
col=0

